
@{
    ViewBag.Title = "Index";
}

<hr />
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="ClearScreen()" ;>Create New</button>
<hr />

<table id="table">
    <thead>

        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Role Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @*<label for="Id">Id</label>*@
                    <input type="hidden" class="form-control" id="roleIdText" placeholder="Id" />
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" id="roleNameText" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="Validation();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" onclick="Validation();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        $(document).ready(function () {
            debugger;
            $("#table").DataTable({
                "ajax": {
                    "url": "/Roles/List",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    {
                        "render": function (data, type, row, meta) {
                            return "<a class='btn btn-warning' onclick = GetById('" + row.Id + "');>Edit</a> " +
                                " <a class='btn btn-danger' onclick = Delete('" + row.Id + "');>Delete</a>";
                        }
                    }
                ]
            })
        })

        function Delete(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                debugger;
                if (result.value) {
                $.ajax({
                    "url": "/Roles/Delete/",
                    "datatype": "json",
                    "data": { Id: Id }
                }).then((hasil) => {
                    if (hasil.data != 0) {
                        Swal.fire(
                            'Success!',
                            'Your file has been Deleted.',
                            'success'
                        )
                    }
                    else {
                        Swal.fire(
                            'Failed!',
                            'Your file has not Deleted.',
                            'Failed'
                        )
                    }
                })
                }
            })
        }
        function Edit(Id) {
            debugger;
            var role = new Object();
            role.Id = $("#roleIdText").val();
            role.Name = $("#roleNameText").val(); //Perhatikan selalu tanda #
            $.ajax({
                "url": "/Roles/Edit/",
                "type": "POST",
                "datatype": "json",
                "data": role
            }).then((result) => {
                debugger;
                if (result.data != null) {
                Swal.fire(
                    'Success!',
                    'Your file has been Updated.',
                    'success'
                ).then(() => {
                    $('#table').DataTable().ajax.reload();
                })
                }
                else {
                    Swal.fire(
                        'Failed!',
                        'Your file has not Updated.',
                        'Failed'
                ).then(() => {
                        $('#table').DataTable().ajax.reload();
                    })
                }
                $("#myModal").modal('hide');
                $('#table').DataTable().ajax.reload();
            })
        }
        function Save() {
            var role = new Object();
            role.Name = $("#roleNameText").val();
            $.ajax({
                "url": "/Roles/Create",
                "type": "POST",
                "datatype": "json",
                "data": role
            }).then((result) => {
                debugger;
                if (result.data != null) {
                    Swal.fire({
                        text: 'Success!',
                        title: 'Your file has been Create.',
                        icon: 'success'
                    }).then((hasil) => {
                        $("#table").DataTable().ajax.reload();
                    });
                    $("#myModal").modal("hide");
                }
                else {
                    Swal.fire(
                        'Failed!',
                        'Your file has not deleted.',
                        'Failed'
                    )
                }
            })
        }
        function ClearScreen() {
            document.getElementById("roleIdText").disabled = true;
            $("#roleIdText").val('');
            $("#roleNameText").val('');
            $("#Update").hide();
            $("#Save").show();
        }
        function GetById(Id) {
            $.ajax({
                "url": "/Roles/Details/",
                "type": "GET",
                "datatype": "json",
                "data": { Id: Id }
            }).then((result) => {
                debugger;
                if (result.data != null) {
                document.getElementById("roleIdText").disabled = true;
                $("#roleIdText").val(result.data.Id);
                $("#roleNameText").val(result.data.Name);

                    $("#myModal").modal('show');
                    $("#Update").show();
                    $("#Save").hide();
                }
            })
        }
        function Validation() {
            debugger;
            if ($("#roleNameText").val() == "" || $("#roleNameText").val() == " ") {
                Swal.fire('Please Fill Name');
            }
            else if ($("#roleIdText").val() == "" || $("#roleIdText").val() == " ") {
                Save();
            }
            else {
                Edit($("#roleIdText").val());
            }

        }
    </script>
}